# Just Inspection Notebook

Different from `z_clean_data.py`

In [1]:
from z_utils import get_dataframe 

books_df = get_dataframe("books_summary.csv")
books_df.head()

,book_name,summaries,categories
0,The Highly Sensitive Person,is a self-assessment guide and how-to-live tem...,science
1,Why Has Nobody Told Me This Before?,is a collection of a clinical psychologist’s ...,science
2,The Midnight Library,"tells the story of Nora, a depressed woman in...",science
3,Brave New World,presents a futuristic society engineered perf...,science
4,1984,is the story of a man questioning the system ...,science

In [3]:
books_df[books_df["book_name"] == "The Midnight Library"]

,book_name,summaries,categories
2,The Midnight Library,"tells the story of Nora, a depressed woman in...",science
522,The Midnight Library,"tells the story of Nora, a depressed woman in...",relationships
788,The Midnight Library,"tells the story of Nora, a depressed woman in...",happiness
1821,The Midnight Library,"tells the story of Nora, a depressed woman in...",psychology
2402,The Midnight Library,"tells the story of Nora, a depressed woman in...",motivation
3645,The Midnight Library,"tells the story of Nora, a depressed woman in...",creativity
3941,The Midnight Library,"tells the story of Nora, a depressed woman in...",fiction
4305,The Midnight Library,"tells the story of Nora, a depressed woman in...",work
4665,The Midnight Library,"tells the story of Nora, a depressed woman in...",mindfulness

In [4]:
books_df["book_name"].value_counts().describe()

count    1230.000000
mean        4.042276
std         1.985669
min         1.000000
25%         3.000000
50%         4.000000
75%         5.000000
max        12.000000
Name: book_name, dtype: float64